{% extends 'base.html' %}
{% block title %}Zones{% endblock %}

{% block content %}

<div>
  <h2>
    // Combat Zones
  </h2>

  <ul>

    {% for zone in zones %}
      <li role="article" aria-labelledby="zone-title-{{ zone.id }}">
    >

        <!-- Zone info -->
        <div>
          <h3 id="zone-title-{{ zone.id }}">
            {{ zone.title }}
          </h3>

          <div>
            {{ zone.description|safe }}
          </div>
        </div>

        <!-- Zone action -->
        <div>
            {% if zone.has_completed %}
            {% if zone.can_enter %}
              <!-- COMPLETED BUT RE-ENTERABLE -->
              <a href="{% url 'enter_zone' %}" aria-label="Re-enter {{ zone.title }}">
                Re-Enter
              </a>

              <div>
                <p>
                  Prev Score
                </p>
                <p>
                  {{ zone.score }}
                </p>
              </div>
            {% else %}
              <!-- COMPLETED & LOCKED -->
              <span>
                Completed
              </span>

              <div>
                <p>
                  Score
                </p>
                <p>
                  {{ zone.score }}
                </p>
              </div>
            {% endif %}

          {% elif zone.has_active %}
            <!-- ACTIVE -->
              <a href="{% url 'enter_zone' %}" aria-label="Continue {{ zone.title }}">
              Continue
            </a>

            <div>
              <p>
                Score
              </p>
              <p>
                {{ zone.score }}
              </p>
            </div>

          {% else %}
              {% if zone.can_enter %}
              <!-- NEVER ATTEMPTED BUT ACCESS EXISTS -->
              <a href="{% url 'enter_zone' %}" aria-label="Enter {{ zone.title }}">
                Enter Zone
              </a>
            {% else %}
              <!-- LOCKED -->
              <span>
                🔒 Locked
              </span>
            {% endif %}
          {% endif %}

        </div>

      </li>
    {% endfor %}

  </ul>

  <div>
    <a href="{% url 'index' %}">
      ← Return to Base
    </a>
  </div>
</div>

{% endblock %}
